*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    outline: none;
}

.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator
{
    background-color: #002f52 ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px rgb(0, 0, 0),
                      5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input
{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    box-shadow: inset -5px -5px 12px rgb(0, 0, 0),
                      5px 5px 12px black;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button
{
    height: 48px;
    width: 48px;
    background-color: rgb(10, 101, 113);
    box-shadow:  -5px -5px 12px rgb(0, 0, 0),
                      5px 5px 12px black;
    border: none;
    border-radius: 20%;
    margin: 8px;
    font-size: 15px;
}

.equal
{
    width: 115px;
    border-radius: 10px;
    background-color: #c5c5c5;
    box-shadow: -5px -5px 12px rgb(0, 0, 0),
                 5px 5px 12px black;
    
}